[Unit]
Description=cna service w2
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/home/w2/W2ENV
ExecStart=/home/w2/w2.py
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User=w2
WorkingDirectory=/home/w2

[Install]
WantedBy=multi-user.target
